.vscode/launch.json
.vscode/tasks.json
bin/*
obj/*
.vscode/*
bin/Debug/net6.0/ejector.deps.json
bin/Debug/net6.0/ejector.dll
bin/Debug/net6.0/ejector.exe
bin/Debug/net6.0/ejector.pdb
bin/Debug/net6.0/ejector.runtimeconfig.json
bin/Debug/net6.0/ejector.xml
bin/Debug/net6.0/System.CommandLine.dll
bin/Debug/net6.0/System.CommandLine.DragonFruit.dll
bin/Debug/net6.0/System.CommandLine.NamingConventionBinder.dll
bin/Debug/net6.0/System.CommandLine.Rendering.dll
bin/Debug/net6.0/cs/System.CommandLine.resources.dll
bin/Debug/net6.0/de/System.CommandLine.resources.dll
bin/Debug/net6.0/es/System.CommandLine.resources.dll
bin/Debug/net6.0/fr/System.CommandLine.resources.dll
bin/Debug/net6.0/it/System.CommandLine.resources.dll
bin/Debug/net6.0/ja/System.CommandLine.resources.dll
bin/Debug/net6.0/ko/System.CommandLine.resources.dll
bin/Debug/net6.0/pl/System.CommandLine.resources.dll
bin/Debug/net6.0/pt-BR/System.CommandLine.resources.dll
bin/Debug/net6.0/ref/ejector.dll
bin/Debug/net6.0/ru/System.CommandLine.resources.dll
bin/Debug/net6.0/tr/System.CommandLine.resources.dll
bin/Debug/net6.0/zh-Hans/System.CommandLine.resources.dll
bin/Debug/net6.0/zh-Hant/System.CommandLine.resources.dll
obj/ejector.csproj.nuget.dgspec.json
obj/ejector.csproj.nuget.g.props
obj/ejector.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ejector.AssemblyInfo.cs
obj/Debug/net6.0/ejector.AssemblyInfoInputs.cache
obj/Debug/net6.0/ejector.assets.cache
obj/Debug/net6.0/ejector.csproj.AssemblyReference.cache
obj/Debug/net6.0/ejector.csproj.CopyComplete
obj/Debug/net6.0/ejector.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/ejector.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ejector.dll
obj/Debug/net6.0/ejector.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ejector.genruntimeconfig.cache
obj/Debug/net6.0/ejector.GlobalUsings.g.cs
obj/Debug/net6.0/ejector.pdb
obj/Debug/net6.0/ejector.Program.g.cs
obj/Debug/net6.0/ejector.xml
obj/Debug/net6.0/ref/ejector.dll
